@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>Welcome to the Console Bank</h2>
    <p>
        We are committed to bringing you the best customer service in the nation!
    </p>
    @if (Request.IsAuthenticated)
    {
        @Html.Action("LoadMessage", "Create")
        @Html.Action("LoadPC", "Create")
        @Html.Action("LoadBC", "Create")
        @Html.Action("LoadLA", "Create")
        @Html.Action("LoadTD", "Create")
    }

</div>
