@model IEnumerable<Project1.Models.BusinessCheckingAccount>

@{
    //ViewData["Title"] = "GetAllCustomers";
}

<h4>Business Checking Accounts</h4>

<table class="table" style="width:auto">
    <thead>
        <tr>
            <th style="min-width:200px">
                Account Number
            </th>
            <th style="min-width:200px">
                Balance
            </th>
            <th style="min-width:200px">
                Overdraft Balance
            </th>
            <th style="min-width:200px">Account Functions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountID)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Credit)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Debit)
            </td>
            <td>
                @Html.ActionLink("Withdraw", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Deposit", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Transfer", "Delete", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Close", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
    </tbody>
</table>
